<div class="container border mt-2 divColor">
  <div class="p-2">
    Proyectos En Los Que Trabajé:    
  </div>
  <ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="let proyecto of proyectos; index as i"
    >
      <div #borrar>
        <div>
          <p #titulo contenteditable="false" class="text-center">
            {{ proyectos[i].Titulo }}
          </p>
        </div>
        <div class="border p-2">
          <p #descripcion contenteditable="false">
            {{ proyectos[i].Descripcion }}
          </p>
        </div>
        <div class="mt-1">
          <app-boton-eliminar
            (emitir)="borrarNodo($event, borrar)"
          ></app-boton-eliminar>
        </div>
        <div class="mt-1 pe-5">
          <app-boton-edicion
            (emitir)="editarTexto(titulo, descripcion)"
          ></app-boton-edicion>
        </div>                 
      </div>
    </li>
  </ul>
  <app-boton-agregar (emitir)="agregar()"></app-boton-agregar>
</div>
