<div class="container p-4 mt-3 border mx-auto divColor">
  <div class="row">
    <!-- foto, nombre y titulo-->
    <div class="col-sm-0 col-md-4 col-lg-3 border">
      <div class="row">
        <img
          src="{{ acerca.Foto }}"
          class="mx-auto foto img-thumbnail rounded-circle p-0"
          alt="Foto"
        />
      </div>
      <input type="file" hidden #fotoInput [(ngModel)]="acerca.Foto">
      
      <button class="btn btn-sm botones" id="botNombre" [hidden]="log.editar" (click)="fotoInput.click()"> 
        <i class="fa-solid fa-file"></i>
      </button>

      <div class="text-center">
        <p
          [ngClass]="{ editar: nombreTitulo }"
          [contentEditable]="nombreTitulo"
        >
          {{ acerca.Nombre }}
        </p>
        <p
          [ngClass]="{ editar: nombreTitulo }"
          [contentEditable]="nombreTitulo"
        >
          {{ acerca.Titulo }}
        </p>
      </div>
      <div>        
        <button class="btn btn-sm boton botones" id="botTitulo" [hidden]="log.editar" (click)="nombreTitulo = !nombreTitulo">
          <i class="fa-solid fa-pen noPointers"></i>
        </button>
      </div>
    </div>

    <!-- Acerca de -->
    <div class="col-sm-12 col-md-8 col-lg-9 border mt-3 mt-md-0">
      <div class="text-center">Sobre mí
        <button class="btn btn-sm boton botones" id="botInfo" [hidden]="log.editar" (click)="informacion = !informacion">
          <i class="fa-solid fa-pen noPointers"></i>
        </button>
      </div>
      <div [ngClass]="{ editar: informacion }" [contentEditable]="informacion">
        {{ acerca.Informacion }}
      </div>      
    </div>
  </div>
</div>
