<div class="container p-4 mt-3 border mx-auto divColor text-wrap text-break">
  <div class="row">
    <div class="col-sm-0 col-md-4 col-lg-3 border">
      <div class="row">
        <img
          src="{{ persDatos.urlFoto || imagenDefaultFoto }}"
          class="mx-auto foto img-thumbnail rounded-circle p-0"
          alt="Foto"
        />
      </div>
      <div class="text-center">
        <p>{{ persDatos.nombre }} {{ persDatos.apellido }}</p>
        <p>
          {{ persDatos.titulo }}
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-9 border mt-3 mt-md-0">
      <div class="text-center">
        Sobre mí
        <button
          *ngIf="usuarioAut"
          class="btn btn-sm boton botones"
          id="botTitulo"
          (click)="abrirModal(modalEdicion, persona)"
        >
          <i class="fa-solid fa-pen"></i>
        </button>
      </div>
      <div>
        {{ persDatos.acerca }}
      </div>
    </div>
    <div>
      <i class="fa-solid fa-location-dot"></i>
      {{ persDatos.localidad.localidad }}
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" #modalEdicion id="modalAcerca">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title">Acerca de mí...</span>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          (click)="cerrarModal(modalEdicion, persona)"
          id="cerrarModalAcerca"
        ></button>
      </div>
      <div class="modal-body">
        <form #persona="ngForm" (ngSubmit)="enviar(persona)" novalidate>
          <label>Banner(url):</label>
          <input
            type="url"
            pattern="https://.*"
            size="255"
            class="form-control"
            id="urlBanner"
            [(ngModel)]="persDatos.urlBanner"
            name="urlBanner"
          />
          <label for="tipo">Localidad:</label>
          <select
            name="localidad"
            [(ngModel)]="persDatos.localidad"
            class="form-control"
          >
            <option *ngFor="let loc of listaLoc" [ngValue]="loc">
              {{ loc.localidad }}
            </option>
          </select>
          <label>Foto(url):</label>
          <input
            type="url"
            pattern="https://.*"
            size="255"
            class="form-control"
            [(ngModel)]="persDatos.urlFoto"
            id="urlFoto"
            name="urlFoto"
          />
          <label>Nombre:</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            [(ngModel)]="persDatos.nombre"
            name="nombre"
            required
          />
          <label>Apellido:</label>
          <input
            type="text"
            class="form-control"
            id="apellido"
            [(ngModel)]="persDatos.apellido"
            name="apellido"
            required
          />
          <label>Titulo:</label>
          <input
            type="text"
            class="form-control"
            id="titulo"
            [(ngModel)]="persDatos.titulo"
            name="titulo"
            required
          />
          <label>Sobre mí:</label>
          <textarea
            cols="30"
            rows="5"
            class="form-control"
            id="sobre"
            [(ngModel)]="persDatos.acerca"
            name="acerca"
            required
          ></textarea>
          <button type="submit" class="btn btn-primary mt-1">Enviar!</button>
        </form>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
