<nav class="navbar navbar-expand-sm bg-secondary sticky-top">
  <div class="container-fluid justify-content-end">
      <button class="navbar-toggler btn bg-light" data-bs-toggle="collapse" data-bs-target="#contenido">
        <i class="fa-solid fa-bars"></i>
      </button>
  </div>
  <div class="collapse navbar-collapse" id="contenido">
    <ul class="navbar-nav text-end">
      <li class="nav-item mt-2">
        <a class="btn btn-outline-light me-1" routerLink="/inicio">Inicio</a>
      </li>
      <li class="nav-item mt-2">
        <a class="btn btn-outline-light me-1" routerLink="/login">Login</a>
      </li>
      <li class="nav-item mt-2">
        <a class="btn btn-outline-light me-1" routerLink="/registrar">Registrarse</a>
      </li>
      <li>
        <button class="btn btn-sm btn-primary m-2" (click)="metodo.modoEditar();">
          <i class="fa-solid fa-pen"></i>
        </button>
      </li>
    </ul>
  </div>
</nav>

