<div class="container border p-3 mt-3">
  <div class="border text-center">
    <img [src]="Banner" class="imagenBanner img-fluid" alt="Banner" />

    <app-boton-archivo [estilos]="botonArchivo" (emitir)="nuevoBanner.click()"></app-boton-archivo>

    <input
      type="file"
      style="display: none"
      [(ngModel)]="Banner"
      #nuevoBanner
    />
  </div>
</div>

<app-acerca-de></app-acerca-de>
<app-experiencia></app-experiencia>
<app-educacion></app-educacion>
<app-skills></app-skills>
<app-proyecto></app-proyecto>
<app-footer></app-footer>
