<div class="container border p-2 mt-3 divColor">
  <div class="p-2">Experiencia Laboral:</div>
  <ul class="list-group">
    <li
      class="list-group-item mb-2"
      *ngFor="let exp of experiencia"
    >
      <div class="row" #borrar>
        <div class="col-sm-0 col-md-4 col-lg-3 text-center">
          <img
            [src]="exp.Logo"
            alt="Logo"
            class="img-thumbnail img-fluid Logo"
          />
          <button class="btn btn-sm botones" id="botLogo" [hidden]="log.editar" (click)="inputLogo.click()">
            <i class="fa-solid fa-file"></i>
          </button>
          <input
            type="file"
            hidden
            [(ngModel)]="exp.Logo"
            #inputLogo
          />
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8 p-1 mt-1 border">
          <button class="btn btn-sm boton botones" id="botExperincia" [hidden]="log.editar" (click)="editarTexto(textoDescripcion)">
            <i class="fa-solid fa-pen noPointers"></i>
          </button>  
          <div>
            <p #textoDescripcion contenteditable="false">
              {{ exp.Descripcion }}
            </p>
          </div>                           
        </div>
      </div>
      <div class="p-2">
        <button class="btn botones btn-sm" [hidden]="log.editar" (click)="eliminar($event, borrar)">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </li>
  </ul>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-outline-primary" [hidden]="log.editar" (click)="agregar()">
        <i class="fa-solid fa-plus noPointers"></i>
      </button>
    </div>
</div>
