<div class="container border p-2 mt-3 divColor">
  <div class="p-2">Experiencia Laboral:</div>
  <ul class="list-group">
    <li
      class="list-group-item mb-2"
      *ngFor="let exp of experiencia; index as i"
    >
      <div class="row" #borrar>
        <div class="col-sm-0 col-md-4 col-lg-3 text-center">
          <img
            [src]="experiencia[i].Logo"
            alt="Logo"
            class="img-thumbnail img-fluid Logo"
          />
          <app-boton-archivo (emitir)="inputLogo.click()"></app-boton-archivo>
          <input
            type="file"
            hidden
            [(ngModel)]="experiencia[i].Logo"
            #inputLogo
          />
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8 p-1 mt-1 border">
          <div>
            <p #textoDescripcion contenteditable="false">
              {{ experiencia[i].Descripcion }}
            </p>
          </div>
          <app-boton-edicion
            (emitir)="editarTexto(textoDescripcion)"
          ></app-boton-edicion>
        </div>
      </div>
      <div class="p-2">
        <app-boton-eliminar
          (emitir)="borrarNodo($event, borrar)"
        ></app-boton-eliminar>
      </div>
    </li>
  </ul>
  <app-boton-agregar (emitir)="agregar()"></app-boton-agregar>
</div>
