<div
  class="border p-2 mx-auto mt-5 bg-secondary container"
>
  <div class="bg-light border">
    <form action="">
      <div class="m-2 ">
        Email:
        <input class="float-end form-control" type="text" />
      </div>
      <div class="m-2 ">
        Nombre De Usuario:
        <input class="float-end form-control" type="text" />
      </div>
      <div class="m-2 ">
        Contraseña:
        <input class="float-end form-control" type="text" />
      </div>
    </form>
    <button class="btn btn-primary m-2">Enviar</button>
  </div>
</div>

