.edit {
  background-color: rgb(0, 135, 245);
  color: white;
  border-radius: 50%;
  width: 30px;
  height: auto;
  float: right;
}


.noPointers{
  pointer-events: none;
}

.añadir {
  position: relative;
  margin-top: -210px;

}

.Logo{
  line-height: 180px;
}

.editar{
  background-color: rgb(92, 168, 255);
}
